<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <h1>Миссия Колонизации Марса</h1>
    </nav>
    <aside>И на Марсе будут яблони цвести!</aside>
    <img src="https://avatars.mds.yandex.net/get-pdb/1378219/0f191218-3bc2-470c-9925-20bd04b7c657/s1200?webp=false" width=100px>
</header>
<!-- Begin page content -->
{% for i in item %}
Вы можете пройти на {{i}}</br>
    {% endfor %}
<main role="main" class="container">

    {% block content %}{% endblock %}
</main>
</body>
</html>